/* Imports */

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono&display=swap");

.large-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.large-header {
   background: linear-gradient(-45deg, #52eeb2, #63645c, #0c465c, #23d5ab);
   background-size: 400% 400%;
   animation: gradient 20s ease infinite;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;


}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: left;
  top: 70%;
  left: 5%;
  font-family: "Roboto Mono", sans-serif;
  font-size: 2rem;
  display: flex;
  opacity: 1;
  flex-direction: row;
}



body {
  margin: 0;
  padding: 0;
  width: 100vw !important;
  overflow-x: hidden;
}
body {
   background: linear-gradient(-45deg, #52eeb2, #63645c, #0c465c, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.canvas-two{
   z-index: 10000;
   position: absolute;
   top: 0em;
}