/* Imports */
@import url('https://fonts.googleapis.com/css?family=Handlee|Lobster|Montserrat:400,600,700|Open+Sans|Roboto+Mono&display=swap');

.large-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.large-header {
   background: linear-gradient(-45deg, #52eeb2, #63645c, #0c465c, #23d5ab);
   background-size: 400% 400%;
   animation: gradient 20s ease infinite;
   background-blend-mode: multiply;
   background-repeat: no-repeat;
   


}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: left;
  top: 50%;
  left: 5%;
  font-family: "Roboto Mono", sans-serif;
  font-size: 2rem;
  display: flex;
  opacity: 1;
  flex-direction: column;
}

@media(max-width: 460px){
   .main-title{
      font-size: 1.2rem;
   }
}

.main-title .typed-container{
   display: flex;
   flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw !important;
  overflow-x: hidden;
}
body {
   background: linear-gradient(-45deg, #52eeb2, #63645c, #0c465c, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}



.zoom{
   width: 100%;
   height: 150vh;
   position: relative;
   overflow: hidden;
   background-image: url(../img/bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-blend-mode: multiply;
   transition: all 2s ease-out;

}

.zoom:before{
   content: ' ';
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 20%;
   background: linear-gradient(transparent ,  rgba(255, 255, 255, 0.699));
   z-index: 100;
}

.zoom #layer1{

   position: absolute;
   left: 40%;
   width: 100%;
   transform: translateX(-50%);
   z-index: 11;
}

.zoom #layer2{

   position: absolute;
   width: 100%;
   right: 0;
   z-index:  10;
}

.zoom #text{
   position: absolute;
   right: 0;
   width: 80%;
   transform: translateY(50%), translateX(-10%);
   display: flex;
    margin: auto;
    opacity: .1;
    bottom: 20%;
    transition: all 2s ease-out;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Lobster', cursive;
   

   

}

.zoom #text .button{
   background: linear-gradient(-45deg, #52eeb2, #63645c, #0c465c, #23d5ab);
   box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.123);
   font-size: 1.8rem;
   left: 5%;
   border-radius: 20px;
   padding: 10px;
   margin: 1rem 0;
   margin-left: 5%;
   width: fit-content;
   width: -moz-fit-content;
   border: none;
   animation: gradient 20s ease infinite;
   background-size: 400% 400%;

}



@media(max-width:1145px){
   .zoom #layer1, .zoom #layer2, .zoom::before{
      display: none;
   }
}




/* animations */
@keyframes gradient {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0% 50%;
   }
 }
 