---
---

/* Imports */
@import url("https://fonts.googleapis.com/css?family=Handlee|Lobster|Montserrat:400,600,700|Open+Sans|Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Creepster|Flavors&display=swap");

* {
  transition: all 0.6s ease-out;
}
.large-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.large-header {
  background: linear-gradient(-45deg, #d9dac3, #abbaab, #ced9dd, #9ea096);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: left;
  top: 16% !important;
  left: 5%;
  font-family: "Roboto Mono", sans-serif;
  font-size: 2rem;
  display: flex;
  opacity: 1;
  flex-direction: column;
}

.subtitle {
  position: absolute;
  margin: 0;
  color: #f9f1e9;
  text-align: left;
  top: 40%;
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

@media (min-width: 667px) {
  .subtitle {
    max-width: 40vw;
    top: 7% !important;
    right: 0;
  }

  .type3 {
    margin-bottom: 10rem !important;
  }

  .subtitle h1 {
    text-align: center;
  }

  .main-title {
    max-width: 50vw;
  }
}
@media (max-width: 460px) {
  .main-title {
    font-size: 1.2rem;
  }

  .zoom #text {
    font-size: 1.25rem;
  }

  .subtitle h1 {
    font-size: 1.05rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }
}

.main-title .typed-container {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw !important;
  overflow-x: hidden;
  background: linear-gradient(-45deg, #d9dac3, #abbaab, #ced9dd, #9ea096);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.zoom {
  width: 100%;
  height: 150vh;
  position: relative;
  display: block;
  overflow: hidden;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: all 2s ease-out;
  background-color: rgba(128, 128, 128, 0.589);
}

.zoom:before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.699));
  z-index: 100;
}

.zoom #layer1 {
  position: absolute;
  left: 40%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 11;
}

.zoom #layer2 {
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 10;
}

.zoom #text {
  position: absolute;
  right: 0;
  width: 80%;
  transform: translateY(50%), translateX(-10%);
  display: flex;
  margin: auto;
  opacity: 0.1;
  bottom: 20%;
  transition: all 2s ease-out;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Lobster", cursive;
}

.button {
  background: linear-gradient(-45deg, #c9ca9e, #a7aa90, #70bfdf, #74f7d8);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.123);
  font-size: 1.8rem;
  left: 5%;
  border-radius: 20px;
  padding: 10px;
  margin: 1rem 0;
  margin-left: 5%;
  width: fit-content;
  width: -moz-fit-content;
  border: none;
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
}

.intro-text {
  position: absolute;
  opacity: 1;
  top: 15%;
  left: 50%;
  letter-spacing: 5px;
  transform: translateX(-50%);
  transition: all 2s ease-out;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Flavors", cursive;
  z-index: 100;
  transition: 0.5s ease-out;
  font-weight: 700;
}

@media (max-width: 1145px) {
  .zoom #layer1,
  .zoom #layer2 {
    display: none;
  }
}

@media (max-width: 460px) {
  .see-btn {
    margin-top: 2rem;
  }
}

/* animations */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

//  .rotate{
//    transform: rotate3d(2, 0, 0, 45deg);
//    // left: 50%;
//    // transform: translateX(-50%);
//  }

///////////////Snow Effect//////////////

.wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
}

$s1: "";
$s2: "";
$s3: "";
@for $i from 1 through 50 {
  $s1: $s1 + random(1000) * 0.1vw + " " + random(1000) * 0.1vh + " " + 0 + " " + random(20) * -0.01rem + #fff;
  $s2: $s2 + random(1000) * 0.1vw + " " + random(1000) * 0.1vh + " " + 0 + " " + random(20) * -0.01rem + #fff;
  $s3: $s3 + random(1000) * 0.1vw + " " + random(1000) * 0.1vh + " " + 0 + " " + random(20) * -0.01rem + #fff;
  @if $i < 50 {
    $s1: $s1 + ",";
    $s2: $s2 + ",";
    $s3: $s3 + ",";
  }
}

.snow {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  top: -100vh;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  // -webkit-clip-path: polygon(51% 21%, 79% 35%, 79% 70%, 53% 87%, 25% 72%, 24% 37%);
  // clip-path: polygon(51% 21%, 79% 35%, 79% 70%, 53% 87%, 25% 72%, 24% 37%);
}

.snow-layer1 {
  width: 0.7rem;
  height: 0.7rem;
  filter: blur(1px);
  background-color: white !important;
  z-index: 10000;
  box-shadow: #{$s1};
  animation-duration: 30s;
}

.snow-layer1.a {
  animation-delay: -4.5s;
}
.snow-layer2 {
  width: 0.7rem;
  height: 0.7rem;
  filter: blur(3px);
  background-color: white !important;
  z-index: 10000;
  box-shadow: #{$s2};
  animation-duration: 45s;
}
.snow-layer2.a {
  animation-delay: -8.5s;
}

.snow-layer2.b {
  animation-delay: -50.5s;
}

.snow-layer2.c {
  animation-delay: -4.5s;
}
.snow-layer3 {
  width: 0.4rem;
  height: 0.4rem;
  filter: blur(6px);
  background-color: white !important;
  z-index: 10000;
  box-shadow: #{$s3};
  animation-duration: 20s;
}
.snow-layer3.a {
  animation-delay: -8.5s;
}

.see-btn {
  background: linear-gradient(-45deg, #c9ca9e, #a7aa90, #70bfdf, #74f7d8);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.123);
  position: relative;
  font-size: 1.2rem;
  top: -2rem;
  word-break: keep-all;
  left: 5%;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 1rem;
  margin-left: 5%;
  width: fit-content;
  width: -moz-fit-content;
  min-width: 7rem;
  text-align: center;
  font-family: "Lobster", cursive;
  border: none;
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
}

@keyframes fall {
  0% {
  }
  100% {
    transform: translateY(350vh);
  }
}

//////////////////////Navbar//////////////

.navbar {
  width: 100vw;
  font-family: "Monteserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.3rem;
  position: absolute;
  color: white;
  animation: 15s gradient ease-out;
  background: linear-gradient(-45deg, #d9dac3, #abbaab, #ced9dd, #9ea096);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  box-shadow: 1px 1px 15px 2px grey;
  filter: invert(5%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    height: 4rem;
    width: 4rem;
    background-image: url(../img/icon.png);
    background-size: contain;
    background-position: center;
  }
}

.hamburger-icon {
  height: 3, 2rem;
  width: 3.2rem;
  background-image: url(../img/menu.svg);
  position: relative;
  z-index: 100;
  filter: invert(100%);
  right: 5rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hamburger-icon::after {
  content: "";
  position: absolute;
  height: 3.2rem;
  width: 3.2rem;
  cursor: pointer !important;
  top: 2rem;
}

.hamburger-icon:hover {
  cursor: pointer;
  filter: invert(0%);
}

.hamburger-icon.active {
  background-image: url(../img/close.svg);
  height: 2.8rem;
  width: 2.8rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.section-two {
  height: fit-content !important;
}
.navbar .navbar-brand {
  left: 10rem !important;
  color: white;
  display: flex;
  flex-direction: row;
}

.side-menu {
  position: fixed;
  background: white;

  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 40vw;
  right: 0rem;
  min-width: 25rem;
  transform: translateX(100vw);
  border-end-end-radius: 40%;
  border-top-left-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.side-menu.active {
  transform: translateX(0);
}

.side-menu .options {
  display: flex;
  align-items: center;
  flex-direction: column;
  right: 5rem;
  position: relative;
  top: 25%;

  a {
    font-size: 1.5rem;
    font-family: 'Roboto Mono', sans-serif;
    color: black;
  }
}

.name {
  display: flex;
  align-self: center;
  font-family: "Lobster", cursive;
  font-size: 2.3rem;
}

#section-three,
#section-four,
#section-five {
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  justify-content: center;
  background-attachment: fixed;
  background-color: yellow;
}
#section-four {
  background-color: green;
}

#section-five {
  background-color: blue;
}

/////////////////////////////////////////////////////////////////////////

///////////////////////////////Media Querries/////////////////////////
